{{!

	NAVIGATION
	- Configuration of this file is not required.

}}

	<div class="widget main_navigation">
		<ul class="menu">
			{{#foreach navigation}}
			<li role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
			{{/foreach}}
		</ul>
	</div>
