{{! 
	
	POST - LOWER
	- Configuration of this file is not required. 

}}

	<div class="postlower">
		<section class="commentsection">
			<div class="titlebar" id="comments">
				<h3><i class="fa fa-comments-o"></i>View Comments</h3>
			</div>
			<div id="disqus_thread"></div>
			<div id="g-comments"></div>
		</section>
		<footer class="backtotop">
			<a href="#"><i class="fa fa-chevron-circle-up"></i></a>
		</footer>
	</div>
