{{! 
	
	POST FORMAT - QUOTE
	- Configuration of this file is not required. 

}}

	<article class="{{post_class}} postinlist quote single">
		{{#if image}}<div class="background" style="background-image:url('{{image}}');opacity: 0.35;"></div>{{/if}}
		<div class="inner">
			<div class="content">
				{{content}}
			</div>
		</div>
	</article>
	