{{! 
	
	POST - TITLE
	- Configuration of this file is not required. 

}}

	<section class="title">
		<div class="category">
			{{tags separator=""}}
		</div>
		<h1 class="posttitle">{{{title}}}</h1>
		<a href="{{url}}" class="date">{{date format="Do MMMM YYYY"}}</a>
		<hr>
	</section>
