{{!

	SOCIAL - AUTHOR
	! Configuration of this file is required.

}}

	{{! REPLACE THE BELOW WITH THE LIST OF AUTHORS }}
	{{#has author="Mike Ross, Harvey Specter"}}

		{{! USE THE BELOW SYNTAX TO ADD SOCIAL PROFILES FOR EACH AUTHOR }}
		{{! REMOVE ANY LINKS WHICH ARE NOT REQUIRED }}
		{{#has author="Mike Ross"}}
		<ul class="authorsocial">
			<li><a href="http://twitter.com" target="_blank" class="socialdark twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="http://facebook.com" target="_blank" class="socialdark facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="http://google.com/plus" target="_blank" class="socialdark google"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="http://dribbble.com" target="_blank" class="socialdark dribbble"><i class="fa fa-dribbble"></i></a></li>
			<li><a href="http://instagram.com" target="_blank" class="socialdark instagram"><i class="fa fa-instagram"></i></a></li>
			<li><a href="http://github.com" target="_blank" class="socialdark github"><i class="fa fa-github"></i></a></li>
			<li><a href="http://youtube.com" target="_blank" class="socialdark youtube"><i class="fa fa-youtube"></i></a></li>
			<li><a href="http://pinterest.com" target="_blank" class="socialdark pinterest"><i class="fa fa-pinterest"></i></a></li>
			<li><a href="http://linkedin.com" target="_blank" class="socialdark linkedin"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="http://skype.com" target="_blank" class="socialdark skype"><i class="fa fa-skype"></i></a></li>
			<li><a href="http://tumblr.com" target="_blank" class="socialdark tumblr"><i class="fa fa-tumblr"></i></a></li>
			<li><a href="{{@blog.url}}/rss/" target="_blank" class="socialdark rss"><i class="fa fa-rss"></i></a></li>
		</ul>
		{{/has}}

		{{#has author="Harvey Specter"}}
		<ul class="authorsocial">
			<li><a href="http://twitter.com" target="_blank" class="socialdark twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="http://facebook.com" target="_blank" class="socialdark facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="http://google.com/plus" target="_blank" class="socialdark google"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="http://dribbble.com" target="_blank" class="socialdark dribbble"><i class="fa fa-dribbble"></i></a></li>
			<li><a href="http://instagram.com" target="_blank" class="socialdark instagram"><i class="fa fa-instagram"></i></a></li>
			<li><a href="http://github.com" target="_blank" class="socialdark github"><i class="fa fa-github"></i></a></li>
			<li><a href="http://youtube.com" target="_blank" class="socialdark youtube"><i class="fa fa-youtube"></i></a></li>
			<li><a href="http://pinterest.com" target="_blank" class="socialdark pinterest"><i class="fa fa-pinterest"></i></a></li>
			<li><a href="http://linkedin.com" target="_blank" class="socialdark linkedin"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="http://skype.com" target="_blank" class="socialdark skype"><i class="fa fa-skype"></i></a></li>
			<li><a href="http://tumblr.com" target="_blank" class="socialdark tumblr"><i class="fa fa-tumblr"></i></a></li>
			<li><a href="{{@blog.url}}/rss/" target="_blank" class="socialdark rss"><i class="fa fa-rss"></i></a></li>
		</ul>
		{{/has}}

	{{/has}}
