{{!

	WIDGET - COPYRIGHT
	! Configuration of this file is optional.

}}

	<div class="widget copyright">
		<p class="main">Copyright &copy; {{@blog.title}}. 2016 &bull; All rights reserved.</p>
		<!-- <p class="wordpress">Proudly published with <a href="https://ghost.org/">Ghost</a>.</p>
		{{! DELETE THE LINE BELOW TO REMOVE ECKOTHEMES LINKBACK }}
		<p class="ecko"><a href="http://ecko.me/themes/ghost/ivy/">Ivy Theme</a> by <a href="http://ecko.me/">Ecko</a>.</p> -->
	</div>
